{% extends 'catalog/base_generic.html' %}

{% block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>

    <p><strong>Birthdate: </strong> {{ author.date_of_birth }}</p>
    <p><strong>Date of death: </strong> {{ author.date_of_death }}</p>

    <div style="margin-left: 20px; margin-top: 20px">
        <h4>Books</h4>

        {% for book in author.book_set.all %}
            <hr />
            <p><strong><a href={{ book.get_absolute_url }}>{{ book.title }}</a></strong></p>
            <p>{{ book.summary }}</p>

        {% endfor %}
    </div>

    {% if 'perms.catalog.can_mark_returned' %}
        <table>
            <tr>
                <td><a href="{% url 'author-update' author.pk %}">Update Author</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'author-delete' author.pk %}">Delete Author</a></td>
            </tr>
        </table>

    {% endif %}
{% endblock %}